name: build

on:
  push:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build something
        run: echo "Hello from A" > output.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: build-artifact
          path: output.txt
