name: test secrets

on:
  # push:
  workflow_dispatch:

env:
 NAME: "${{ secrets.NAME }}"
 COMs: ${{ vars.COMPANY }}
 
jobs:
  test-job:
    runs-on: ubuntu-latest
    container:
      image: composer
    steps:
      - name: print name
        run: echo "$NAME"

      - name: print env
        run: |
          echo "BRANCH=${{ github.ref_name }}" >> $GITHUB_ENV
          echo "ROLE=DevOps" >> $GITHUB_ENV
          echo ${{ env.BRANCH }}
          echo ${{ env.ROLE }}

      - name: test 2
        run: |
          echo "${{ github.event.repository.name }}" >> output.txt
          echo "Using Role: $ROLE"
          echo "Using Branch: $BRANCH"
