name: test secrets

on:
  # push:
  workflow_dispatch:

env:
 NAME: "${{ secrets.NAME }}"
 COMs: ${{ vars.COMPANY }}
 
jobs:
  test-job:
    runs-on: ubuntu-latest
    container:
      image: composer
    steps:
      - name: print name
        run: echo "$NAME"

      - name: print env
        run: |
          if [ "${{ github.ref_name }}" == "main"]; then
            export ROLE="DevOPS"
          else
            echo "Error"
      - name: test 2
        run: |
          echo "${{ github.event.repository.name }}" >> output.txt
          echo "Using Branch: ${{ env.ROLE }}"
