name: test secrets

on:
  # push:
  workflow_dispatch:

env:
 NAME: "${{ secrets.NAME }}"
 COMs: ${{ vars.COMPANY }}
 
jobs:
  test-job:
    runs-on: ubuntu-latest
    container:
      image: composer
    steps:
      - name: print name
        run: echo "$NAME"

      - name: print env
        run: |
          printenv
          export ROLE="DevOps"

      - name: test 2
        run: |
          echo "${{ github.event.repository.name }}" >> output.txt
          echo "Using Role: $ROLE"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4.1.0
        with:
          name: Upload
          path: output.txt
          
      - name: test 3
        run : echo "The commit is $GITHUB_SHA.zip"

      - name: Test 4
        run : echo "$GITHUB_REF"

      - name: Test 5
        run: echo "$GITHUB_REF_NAME"

      - id: render-task-definition
        uses: aws-actions/amazon-ecs-render-task-definition@v1.2.0
        with:
          container-name: web
          image: bitbucketpipelines/aws-ecs-deploy:1.15.0

  download:
    needs: test-job
    runs-on: ubuntu-latest
    steps:
      - name: Download
        uses: actions/download-artifact@v4.1.0
        with:
          name: Upload
          path: ./Downloaded

      - name: List Downloaded Files
        run: ls -R ./Downloaded

      - name: Print Artifact Content
        run: cat ./Downloaded/output.txt
